* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.maindiv {
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    width: 30vw;
    height: fit-content;
    position: relative;
    color: black;
}

.copyright {
    position: absolute;
    bottom: 10px;
    margin: 0px;
}

.wrapper {
    display: flex;
    justify-content: center;
}
.wrapper > section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.inputTagSection {
    width: 30%;
}

.inputSection {
    width: 60%;
    
}
.inputTagSection > p, .pageInput {
    margin: 10px;
    width: 80%;
}

#rateInput {
    display: flex;
    width: 100%;
}

#rateInput > input  {
    width: 80%;
}

#rate_val {
    margin-left: 10px;
}

#submitButton, #resetButton, #result {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

b {
    background-color: yellow;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}